@charset "UTF-8";
body{
	font-family: 'Sunflower', sans-serif;
	background: #F3F5F7;
}

h3{
	padding-top:20px;
	color : black;
	margin:0px;
	padding-left: 20px;

}
h1{
	margin-top : 0px;
	font-size:30px;
	color : #AFD3F5;
	margin:0px;
	padding-left: 20px;	
}

h2{
	font-size:20px;
	text-align : center;
}
h6{
	margin-top : 10px;
	font-size:20px;
	text-align:center;
	text-decoration: underline;
	color:#083D6E;
}

.select_but{
	width:70px;
	height:30px;
	border-radius:10px;
	border: 2px solid white;
	color:white;
	font-size:15px;
	background: #5F6F86;
	opacity:0.5px;
	margin-top:5px;
	font-family:inherit;
	margin-left:20px;
}

footer h4{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #393e44;
	color: white;
	margin-bootom: 0;
	padding-top : 0px;
}
footer{
	text-align: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top : 50px;
    margin-bootom: 0;
}



.btu{
	margin-top: -50px;
	width: 100px;
	height:55px;
	font-size: 25px;
	opacity: 0.8;
	float:right;
	color: #0E2C59;
	background-color : rgba(0, 0, 0, 0);
	padding: 5px;
	border:0;
	outline:0;
	font-weight: bold;
}

.btu:hover{
    color: red;
}


.sel{
	text-align: center;
	padding-top : 30px;
	padding-bottom:30px;
}
select{
	width:120px;
	padding: 0.3em 0.3em;
	font-family:inherit;
	border:1px solid #999;
	border-radius: 5px;
	margin-left : 10px;
	margin-right : 20px;
}

.list{
	margin: 0 auto;
}

td{
	padding: 10px;
	text-align:center;
}
th{
	padding: 2px 3px;
	text-align:center;
}

tr{
	border-bottom:1px solid gray;
}

input[type="checkbox"]{
	width:17px;
	height:17px;
	background: #0E2C59;
	
}
.button{
	width: 150px;
	height: 55px;
	border-radius: 10px;
	border: 2px solid white;
	background: #0E2C59;
	color: white;
	font-size: 20px;
	opacity: 0.8;
	margin-top: 70px;
}

